* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.navBar{
  display: flex;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.nav-img{
position: absolute;
left: 4.09%;
right: 94.92%;
top: 5.01%;
bottom: 94.71%;

background: #0D0D0D;
}

.nav-title{
position: absolute;
width: 140.79px;
height: 24px;
left: 58px;
top: 21px;
margin-right: auto;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.7482px;
line-height: 24px;
letter-spacing: -0.1em;

color: #FFFFFF;
}

.nav-text{
position: absolute;
width: 189px;
height: 14px;
left: 324px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
text-align: right;

color: #FFFFFF;
}

.left-input{
position: absolute;
width: 230px;
height: 35px;
left: 36px;
top: 101px;

border: 1px solid #D5D4D8;
border-radius: 5px;
}

.right-input{
position: absolute;
width: 230px;
height: 35px;
left: 283px;
top: 101px;

border: 1px solid #D5D4D8;
border-radius: 5px;
}

